/* Aplica estilos solo a los elementos <p> que son descendientes de <div> */
div p {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
    padding: 10px;
  }

  