/* Estilo para imágenes con clases avatar y proportioned */
.avatar.proportioned {
    width: 300px;
    height: auto;
}

/* Estilo para imágenes con clases avatar y distorted */
.avatar.distorted {
    width: 200px;
    height: 400px;
}

/* Estilo para imágenes con clases original y proportioned */
.original.proportioned {
    width: auto;
    height: auto;
}

/* Estilo para imágenes con clases original y distorted */
.original.distorted {
    width: auto;
    height: auto; 
}
